.box {
  border: solid;
  border-width: 50px;
  border-color: tomato;
  border-radius: 20%;
}

.room {
  text-align: center;
  height: 300px;
  margin: auto;
  padding-top: 12%;
}

.light {
  background-color: whitesmoke;
  color: black;
}

.dark {
  background-color: black;
  color: whitesmoke;
}
