.container {
  max-width: 400px;
  min-height: 500px;
  margin: 0 auto;
  background-color: whitesmoke;
  box-shadow: 0 0 10px gray;
  margin-top: 40px;
  padding: 15px 50px;
}

.heading {
  text-align: center;
}

.exp-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px gray;
}

.trans-list {
  margin: 0px;
  padding: 0;
}

.trans-list > li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 8px;
  background-color: white;
  box-shadow: 0 0 10px gray;
  border-radius: 5px;
  border-right: 5px solid olivedrab;
}

.trans-form input {
  width: 100%;
  margin: 8px 0;
  padding: 5px;
}